<template name="User_Header">
  <div class="ui top fixed borderless inverted menu">
    <div class="ui container">
      <div class="item"><h1>UH Essentials</h1></div>
      <a class="{{isActiveRoute "Home_Page"}} item" href="{{pathFor "Home_Page" username=routeUserName}}">Home</a>

      <div class="ui simple dropdown item">
        <a class="horizontally fitted item">Q&A Threads</a>
        <div class="menu">
          <a class="{{isActiveRoute "Commute_Thread"}} item" href="{{pathFor "Commute_Thread"
          username=routeUserName}}">Commute</a>
          <a class="{{isActiveRoute "Degree_Thread"}} item" href="{{pathFor "Degree_Thread"
          username=routeUserName}}">Degree Programs</a>
          <a class="{{isActiveRoute "Events_Thread"}} item" href="{{pathFor "Events_Thread"
          username=routeUserName}}">Events</a>
          <a class="{{isActiveRoute " Food_Thread"}} item" href="{{pathFor "Food_Thread"
          username=routeUserName}}">Food Services</a>
          <a class="{{isActiveRoute " Security_Thread"}} item" href="{{pathFor "Security_Thread"
          username=routeUserName}}">Campus Security</a>
        </div>
      </div>
      
      <a class="{{isActiveRoute "Submit_Page"}} item" href="{{pathFor "Submit_Page" username=routeUserName}}">Submit New Topic</a>

      <div class="right aligned item">
        <a class="{{isActiveRoute "Profile_Page"}} item" href="{{pathFor "Profile_Page" username=routeUserName}}">Profile</a>
        {{> Cas_Login }}
      </div>
    </div>
  </div>
</template>