<template name="User_Header">
  <div class="ui top fixed borderless inverted menu" style="background-color: #024731">
    <div class="ui container">
      <a class="{{isActiveRoute "Home_Page"}} item" href="{{pathFor "Home_Page" username=routeUserName}}"><h1>UH Essentials</h1></a>
      <a class="{{isActiveRoute "Profile_Page"}} item" href="{{pathFor "Profile_Page" username=routeUserName}}">Profile</a>
      <a class="{{isActiveRoute "Submit_Page"}} item" href="{{pathFor "Submit_Page" username=routeUserName}}">Submit</a>
      <a class="{{isActiveRoute "Thread_Page"}} item" href="{{pathFor "Thread_Page" username=routeUserName}}">Thread</a>
      <a class="{{isActiveRoute "Topic_Page"}} item" href="{{pathFor "Topic_Page" username=routeUserName}}">Topic</a>
      <div class="right aligned item">{{> Cas_Login }}</div>
    </div>
  </div>
</template>