<template name="Campuses_Form_Field">
  <div class="{{#if required}}required{{/if}} field">
    <label>Campuses</label>
    <select single="" class="ui dropdown" name="threads">
      <option value="">Select a Campus</option>
      <option value="hicc">Hawaiʻi Community College</option>
      <option value="hcc">Honolulu Community College</option>
      <option value="kcc">Kapiʻolani Community College</option>
      <option value="kacc">Kauaʻi Community College</option>
      <option value="lcc">Leeward Community College</option>
      <option value="wcc">Windward Community College</option>
      <option value="uhhilo">University of Hawaiʻi, Hilo</option>
      <option value="uhmanoa">University of Hawaiʻi, Mānoa</option>
      <option value="mauicollege">University of Hawaiʻi Maui College</option>
      <option value="uhwo">University of Hawaiʻi, West Oʻahu</option>
    </select>
  </div>
</template>
