<template name="Campuses_Form_Field">
  <div class="{{#if required}}required{{/if}} field">
    <label>Campuses</label>
    <select single="" class="ui dropdown" name="threads">
      <option value="">Select a Campus</option>
      <option value="haw-cc">Hawaiʻi Community College</option>
      <option value="hon-cc">Honolulu Community College</option>
      <option value="kap-cc">Kapiʻolani Community College</option>
      <option value="kau-cc">Kauaʻi Community College</option>
      <option value="lee-cc">Leeward Community College</option>
      <option value="win-cc">Windward Community College</option>
      <option value="hilo">University of Hawaiʻi, Hilo</option>
      <option value="manoa">University of Hawaiʻi, Mānoa</option>
      <option value="maui-college">University of Hawaiʻi Maui College</option>
      <option value="west-oahu">University of Hawaiʻi, West Oʻahu</option>
    </select>
  </div>
</template>
