.ui.borderless.background {
  background: linear-gradient(to right, mediumseagreen, #024731);
  padding: 50px 50px 100px 100px;
  color: white;
}

.landing-section-1-welcome {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 72px;
}

.landing-section-1-tagline {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 25px;
}

.landing-section-2-tagline {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 40px;
}

.landing-section-header {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 36px;
}

.ui.centered.borderless.menu {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 40px;
  color: black;

}