
.picture-banner {
  padding: 0px;
}

.submit-button {
  padding: 15px 0px 0px 0px;
}

.topic {
  padding: 15px 0px 0px 0px;
}

.rating {
  padding: 10px 0px 10px 0px;
}
.pages {
  padding: 30px 0px 0px 0px;
}
